<app-header
(sendSearchEvent)="sendSearch($event)">
</app-header>

<div class="container">
    <div *ngIf="items$ | async as results">
        <app-categories-bar [items]="results.categories" ></app-categories-bar>
    </div>
    <div class="container-results" *ngIf="items$ | async as results; else showSpinner">
        <ng-container *ngIf="results.items; else initialState">
            <app-list [items]="results.items"></app-list>
        </ng-container>
        <ng-template #initialState>
            <div class="d-flex justify-content-center align-items-center">
                <div class="initialState d-flex align-items-center">
                    <img src="/assets/img/SearchCircle.png" width="150">
                    <h2 class="ps-3">Encuentra productos, marcas y más...</h2>
                </div>
            </div>
        </ng-template>
    </div>        
    <ng-template #showSpinner>
        <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>

